<html>
    <head>
        <title>Neutron Reflectometry Angulator</title>
    </head>
<body>


<img src="/static/images/angulator.png" alt="Schematic of collimation system">
<h3> Angular stuff </h3>
<!--<form action="/slits" method="POST">-->
<!--    <label for="name">Preconfigured Instrument</label>- -->
<!--    <select name=instrument class=inputbox onchange='this.form.submit()' value={{d['instrument']}}>-->
<!--    <option {% if d['instrument']=="Platypus" %}selected{% endif %}>Platypus</option>-->
<!--    <option {% if d['instrument']=="Spatz" %}selected{% endif %}>Spatz</option>-->
<!--    </select><br><br>-->

<!--</form>-->

<form action="/slits" method="POST">
    <label for="name">Preconfigured Instrument</label>-
    <select name=instrument class=inputbox onchange='this.form.submit()' value={{d['instrument']}}>
        <option {% if d['instrument']=="Platypus" %}selected{% endif %}>Platypus</option>
        <option {% if d['instrument']=="Spatz" %}selected{% endif %}>Spatz</option>
    </select>
    {% if d['instrument']=="Platypus" %}L23 + L3S = 3134.8 mm{% endif %}
    <br><br>

    L<sub>12</sub>: <input type="number" name="LpreS1" step=0.5 value = {{d['LpreS1']}}> mm
    L<sub>23</sub>: <input type="number" name="L12" step=0.5 value = {{d['L12']}}> mm
    L<sub>3S</sub> <input type="number" name="L2S" step=0.5 value = {{d['L2S']}}> mm
    L<sub>S4</sub> <input type="number" name="LS4" step=0.5 value = {{d['LS4']}}> mm

    <br/>
    Desired footprint: <input type="number" name="footprint" value = {{ d['footprint'] }}> mm
    <br/>
    Desired dtheta/theta resolution (FWHM): <input type="number" name="resolution" step=0.001 value = {{d['resolution']}}>
    <br/>
    Minimum wavelength: <input type="number" name="lambdamin" step=0.1 value = {{d['lambdamin']}}>
    Maximum wavelength: <input type="number" name="lambdamax" step=0.1 value = {{d['lambdamax']}}>
    <br/>
    <table border ="2">
        <tr>
            <th> Angle </th>
            <th> w1 </th>
            <th> w2 </th>
            <th> w3 </th>
            <th> w4 </th>
            <th> min Q </th>
            <th> max Q </th>
            <th> Actual Footprint penumbra/umbra </th>
            <th> dtheta (FWHM) </th>
        </tr>
    <tr>
        <td>Angle 1: <input type="number" name="a1" step=0.001 value = {{d['a1']}}></td>
        <td> {{d['preS1slit'][0][1] | round(3)}}</td>
        <td> {{d['slit1'][0] | round(3)}} </td>
        <td> {{d['slit2'][0] | round(3)}} </td>
        <td> {{d['postsampleslit'][0][1] | round(3)}}</td>
        <td> {{d['minqvals'][0] | round(4)}} </td>
        <td> {{d['maxqvals'][0] | round(4)}} </td>
        <td/>
        <td border ="0"> {{d['dtheta'][0][0] | round(4)}} </td>
    </tr>
    <tr>
        <td>Angle 2: <input type="number" name="a2" step=0.001 value = {{d['a2']}}></td>
        <td> {{d['preS1slit'][1][1] | round(3)}}</td>
        <td> {{d['slit1'][1] | round(3)}} </td>
        <td> {{d['slit2'][1] | round(3)}} </td>
        <td> {{d['postsampleslit'][1][1] | round(3)}}</td>
        <td> {{d['minqvals'][1] | round(4)}} </td>
        <td> {{d['maxqvals'][1] | round(4)}} </td>
        <td border ="0"> {{d['actualfootprint'][0][1] | round(3)}} / {{d['actualfootprint'][0][0] | round(3)}} </td>
        <td border ="0"> {{d['dtheta'][1][0] | round(4)}} </td>
    </tr>
    <tr>
        <td>Angle 3: <input type="number" name="a3" step=0.001 value = {{d['a3']}}></td>
        <td> {{d['preS1slit'][2][1] | round(3)}}</td>
        <td> {{d['slit1'][2] | round(3)}} </td>
        <td> {{d['slit2'][2] | round(3)}} </td>
        <td> {{d['postsampleslit'][2][1] | round(3)}}</td>
        <td> {{d['minqvals'][2] | round(4)}} </td>
        <td> {{d['maxqvals'][0] | round(4)}} </td>
        <td/>
        <td border ="0"> {{d['dtheta'][2][0] | round(4)}} </td>
    </tr>
    <tr>
        <td>Angle N: <input type="number" name="a4" step=0.001 value = {{d['a4']}}></td>
        <td> {{d['preS1slit'][3][1] | round(3)}} </td>
        <td><input type="number" name="d1_a4" step=0.001 value = {{d['d1_a4']}}></td>
        <td><input type="number" name="d2_a4" step=0.001 value = {{d['d2_a4']}}></td>
        <td> {{d['postsampleslit'][3][1] | round(3)}}</td>
        <td> {{d['minqvals'][3] | round(4)}} </td>
        <td> {{d['maxqvals'][3] | round(4)}} </td>
        <td border ="0"> {{d['actualfootprint'][3][1] | round(3)}} / {{d['actualfootprint'][3][0] | round(3)}}</td>
        <td border ="0"> {{d['dtheta'][3][0] | round(4)}} </td>
    </tr>
    </table>

    <h3> Q<sub>c</sub> calculator </h2>
    SLD superphase <input type="number" name="SLD1" step=0.01 value = {{d['SLD1']}}></td> * 10<sup>-6</sup> Å<sup>-2</sup>
    <br/>
    SLD subphase <input type="number" name="SLD2" step=0.01 value = {{d['SLD2']}}></td> * 10<sup>-6</sup> Å<sup>-2</sup>
    <br/>
    Critical edge is at Q = {{d['Qc'] | round(5)}} Å<sup>-1</sup>

    <input type="submit" style="visibility: hidden;" />
</form>

</body>
</html>
